h1{
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-style: normal;
    margin: 300px
}

p {
    display: inline-block;
    text-align: center;
    font-style: normal;
    
}
#user{
    position: relative;
    color: #fff;
    width:26%;
    
    }
    .backg{
        width:100%;
        position: relative;
    }
    footer{
        background-color: white;
       font-style: italic;
        text-align: center;
        padding: 30px;
        margin-top: 10%;
    }
    footer p {
      position: relative;
   
      font-size:15px;
        text-align: center;
        padding-top:20px;
        font-family: 'Times New Roman', Times, serif;
    }